div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,button,input,textarea,fieldset,p,span,blockquote,th,td,figure,hr {
   margin:0;
   padding:0;
}
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
  height: auto;
}
textarea{
  /*下部の余白消し*/
  display:block;
}
/*--material
  overflow:auto;
*/
body  {
  font-size:1.4rem;
  margin:0;
  /*min-width:1280px;*/
}
.wrapper {
  width: 1920px;
  max-width:100%;
  margin: 0 auto;
  min-height: 100vh;
}
.nbr{
  white-space: nowrap;
}
:focus {
  outline: none;
}

a {
  color:#225533;
  text-decoration: underline #55b2ff;
  text-underline-offset: 0.2em;
}
a:hover {
  text-decoration: underline red;
}
button  {
  white-space:nowrap;
  border-radius: 5px;
  padding:4px 6px;
  color:#FFF;
  background:#578a3d;
  width:10em;
  border:none;
  cursor: pointer;
  
  box-shadow: 3px 3px 5px 0 rgba(255, 255, 255, 0.7) inset ,-3px -3px 5px 0 rgba(0, 0, 0, 0.5) inset;
}
button:hover  {
  /*background:#88bb66;*/
  opacity: 0.5;
  color: #000;
}
button:active  {
  /*background:#88bb66;*/
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5) inset ,-3px -3px 5px 0 rgba(255, 255, 255, 0.7) inset;
}



/*--------------------## ヘッダー ##--------------------*/
#logo {
  width:200px;
}
#logo a {
  color:#FFF;
  display:flex;
  align-items: center;
}
#logo .logo_h {
  height:20px;
  margin-right:10px;
}

header  {
  /*position:fixed;*/
  position: -webkit-sticky; /* safari対応 */
  position: sticky;
  top: 0px; /* 上端から0pxのところで固定 */
  width:100%;
  background-color:#578a3d;
  z-index: 10;
}
header .navbar  {
  display:flex;
  align-items: center;
  padding-left:10px;
  height:40px;
}
header button {width:auto;}

.sticky {
  position: -webkit-sticky; /* safari対応 */
  position: sticky;
  top: 0px; /* 上端からのところで固定 */
}

/*--------------------## フッター ##--------------------*/
#footer {
  padding:15px 0 10px 0;
}
#footer .foot_cnt {
  text-align:center;
}

/*--------------------## メニュー ##--------------------*/
.menu_btn {
  display:none;
  /*background:#55aa88;*/
  background:none;

}
.menu_btn_style {
  /*background:#ccbb55;*/
  display:block;
  padding:3px 0 0 0;
}
#cnt_menu {
  position: relative;
  font-size:1.6rem;
}
.side-base {
  background: #c6c91d;

}
#menu_li  {
  width:100%;

}
#menu_li ul  {
  display:flex;
  list-style: none;
  /*border-top: 1px solid #333;*/
  border-left: 1px solid #333;

}
#menu_li ul li {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 2px;
    /*border-bottom: 1px solid #333;*/
    border-right: 1px solid #333;
}
#menu_li ul li a  {
	display:flex;
  align-items: center;
  justify-content: center;
  height:30px;
  color: #FFF;
}


/*--------------------## コンテンツ共通 ##--------------------*/
#title_cnt h1  {
  color: #578a3d;
}
.tstyle::before {
  content: "";
  display:inline-block;
  width:  14px;
  height:  50px;
  background-color: #eecc33;
  /*border-radius:  50%;*/
  /*line-height: 28px;*/
  text-align: center;
  position:  relative;
  left:0px;
  top: 0px;
  margin-right:10px;
/*
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
*/
}

#maincontents {
  padding:8px;
}

.gotop{
  position: fixed;
  box-sizing: border-box;
  bottom: 10px;
  right: 20px;
  z-index: 10000;
}
.gotop a  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #CCC;
  opacity: 0.5;

}
.gotop a:hover  {
  opacity: 0.8;
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: -50px;
  background: #eecc33;
  opacity: 0.7;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-weight: 900;
  content: '↑';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top:hover{opacity: 0.9;}

#error  {
  border:1px solid #555;
  padding:4px 10px;
}

.form_style1 {
  font-size:2rem;
  height:3rem;
  /*width:calc(100% - 8px);*/
  padding:0 4px;
  /*width:50%;*/
  box-sizing: border-box;
  /*margin-right:10px;*/
}

.gc1  {  background:#9cbb1c;}
.bc1  {  border:2px solid #dddd88;}
.bcc1 {  border-color:#dddd88;}
.gc2  {  background:#eee9e6;}
.bc2  {  border:2px solid #ccbb55;}
.bcc2 {  border-color:#ccbb55;}
.gc3  {  background:#e86;}
.bc3  {  border:2px solid #ddaa88;}
.gc4  {  background:#9be;}
.gc4b  {  background:linear-gradient(to bottom, #FFF 0%, #FFF 80%, #eecc55 80%,  #eecc55 100%);}
.bc4  {  border:2px solid #eecc55;}
.bcc4 {  border-color:#eecc55;}
.gc5  {  background:#EC3;}
.gc6  {  background:#337eee;}
.gc7  { background: #EBC;}
.gc8  { background: #EDB;}
.gc_orange  { background: orange;}
.gc9  { background: #f6bfbc; }

.color_green  {color: green;}
.color_red  {color: red;}
.color_gray  {color: gray;}
.color_dimgray  {color: dimgray;}
.color1 {color:#33aa55;}
.color2 {color:#cc3333;}
.color3  {  color:#e86;}
.color4  {  color:#9be;}
.color5  {  color:#578a3d;}
.color6  {  color:#FFFFFF;}

.mgt10  {margin-top:10px;}
.mgt20  {margin-top:20px;}
.mgt40  {margin-top:40px;}

.mgl20  {margin-left:20px;}
.mgl40  {margin-left:40px;}
.mgla   {margin-left: auto;}

.w4e  {width: 4em;}
.w10e {width: 10em;}
.w14e {width: 14em;}

.ta_r {text-align: right;}

.stock_active {  background:linear-gradient(to bottom, #ffeecc 0%, #ffeecc 80%, #eecc55 80%,  #eecc55 100%);}
.bold { font-weight: bold;}


/*--------------------## タイトル系 /  ##--------------------*/
#subtitle {
  display:block;
}
#subtitle h4 {
  border-left-style:solid;
  border-left-width:10px;
  padding:0 0 2px 6px;
}
#subtitle .margin {
  margin-top:50px;
}
#subtitle .bc1::before {
  content: "";
  display:inline-block;
  width:  16px;
  height:  16px;
  background-color: #f4c836;
  /*border-radius:  50%;*/
  line-height: 18px;
  text-align: center;
  position:  relative;
  left:0px;
  top: 3px;
/*
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
*/
}

/*--------------------## TOP page ##--------------------*/
#tips_cnt .lst1  {
  list-style-type: circle;
  margin-left:50px;
  color: #668ad8;
}
#tips_cnt .lst1 li  {
  margin-top:8px;
}
#tips_cnt .lst2  {
  counter-reset:number;
  list-style-type: none;
  margin-left:50px;
  color: #333;
}
#tips_cnt .lst2 li {
  position:relative;
  margin-top:2px;
}
#tips_cnt .lst2 li:before {
  counter-increment: number;
  content: counter(number) "";
  display:inline-block;
  width:  16px;
  height:  16px;
  background-color: #f4c836;
  border-radius:  50%;
  line-height: 18px;
  text-align: center;
  position:  absolute;
  left:-20px;
  top: 2px;
/*
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
*/
}

#version_cnt  {
  margin-top:20px;
  margin-right:20px;
  text-align: right;
}
#view_switch  {display: none;}

/*--------------------## 登録検索 / 一覧 ##--------------------*/

#form1  {
  display:flex;
  align-items: center;
  /*justify-content: space-between;*/
  gap:0 20px;

}
#form1 .form_zone {
  display: flex;
  flex-direction: column;
  /*width:calc(100% - 8px);*/
  width:30%;
  box-sizing: border-box;
}
#form1 .form_style {
  font-size:2rem;
  height:3rem;
  /*width:calc(100% - 8px);*/
  padding:0 4px;
  width:50%;
  box-sizing: border-box;
  margin-right:10px;
}






#top_cnt  {
  display:flex;
  width:100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom:5px;
}
#top_cnt .customize  {
  white-space:nowrap;
  border-radius: 5px;
  border:none;
  padding:2px 6px;
  color:#FFF;
  background:#FFF;
  width:auto;
}


#btn_cnt1 {
  display:flex;
  align-items: center;
}
#btn_cnt1 .form_style {
  font-size:2rem;
  height:3rem;
  /*width:calc(100% - 8px);*/
  padding:0 4px;
  /*width:50%;*/
  box-sizing: border-box;
  /*margin-right:10px;*/
}
#btn_cnt1 .btn1  {
  white-space:nowrap;
  border-radius: 5px;
  padding:2px 6px;
  color:#FFF;
  background:#bbaa88;
  width:10em;
  margin-left:10px;

}


#tbl_1 {
  position: relative;
  width:100%;
  z-index:0;
  /*box-sizing: border-box;*/
}
#tbl_1 table{
  width:100%;
  border-collapse: collapse;
  margin-bottom:0px;
  border-spacing:0;
  border-left:1px solid #888888;
  border-top:1px solid #888888;
  font-size:1.2rem;
}
#tbl_1 th {
  /* 縦スクロール時に固定する */
  position: -webkit-sticky;
  position: sticky;
  top: 73px;
  /* tbody内のセルより手前に表示する */
  z-index: 1;
  white-space: nowrap;
  background:#eecc33;
  border-right:1px solid #888888;
  padding:5px 5px;
}
#tbl_1 td{
  padding:0.75rem;
  border-right:1px solid #888888;
  border-bottom:1px solid #888888;
}
#tbl_1 .style1 {
  text-align:right;
}
#tbl_1 .w1 {
  width:5em;
}
#tbl_1 .w8e {
  width: 8em;
}
#tbl_1 .w20r {
  width: 20rem;
}
#tbl_1 .mg_r  {
  margin-right:10px;
}
#tbl_1 button  {
  white-space:nowrap;
  border-radius: 5px;
  padding:2px 6px;
  width:auto;
}


#tbl_1 .form_style {
  font-size:2rem;
  height:3rem;
  /*width:calc(100% - 8px);*/
  padding:0 4px;
  width:5em;
  box-sizing: border-box;
}
#tbl_1 .form_style2 {
  font-size:1.6rem;
  line-height:1.2em;
  /*width:calc(100% - 8px);*/
  padding: 0 4px;
  width: 100%;
  min-width: 10em;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 1px dashed #CCC;
}
#tbl_1 .color1 {
  color:#33aa55;
}
#tbl_1 .color2 {
  color:#cc3333;
}
#tbl_1 .posi_r1 {
  position:relative;
}
#tbl_1 .posi_a1 {
  position:absolute;
  top:-120px; left:0px;
}
#tbl_1 .stylebg1 {
  color:#FFFFFF;
  background: #9cbb1c;
  letter-spacing: 0.5em;
}
#tbl_1 .stylebg2 {
  color:#333;
  font-size: 1.6rem;
}

#tbl_2 {
  position: relative;
  width:100%;
  z-index:0;
  box-sizing: border-box;
}
#tbl_2 table{
  /*width:100%;*/
  border-collapse: separate;
  margin-bottom:0px;
  border-spacing:0;
  border-left:1px solid #888888;
  border-top:1px solid #888888;
  font-size:1.2rem;
}
#tbl_2 th {
  /* 縦スクロール時に固定する */
  position: -webkit-sticky;
  position: sticky;
  top: 73px;
  /* tbody内のセルより手前に表示する */
  z-index: 1;
  white-space: nowrap;
  background:#88ddee;
  border-right:1px solid #888888;
  padding:5px 5px;
  width: 12em;
}
#tbl_2 td{
  padding:0.75rem;
  border-right:1px solid #888888;
  border-bottom:1px solid #888888;

}
#tbl_2 .style1 {
  text-align:right;
}





/*--------------------##  / 編集 ##--------------------*/

#form2  {
  display: flex;
  /*align-items: center;*/
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:10px 20px;

}
#form2 .form_style {
  display: flex;
  flex-direction: column;
  /*width:calc(100% - 8px);*/
  width:30%;
  box-sizing: border-box;
}
#form2 .form_style2 {
  display: flex;
  flex-direction: column;
  /*width:calc(100% - 8px);*/
  width:100%;
  box-sizing: border-box;
}
#form2 .input_style {
  font-size:2rem;
  height:3rem;
  padding:0 4px;
  border:2px solid #EC3;
}
#form2 label {
  background:#eecc33;
}
#form2 .input_style2 {
  font-size:2rem;
  /*height:3rem;*/
  padding:0 4px;
  border:2px solid #EC3;
}
#form2 .input_style3 {
  font-size:1.2rem;
  /*height:3rem;*/
  /*padding:0 4px;*/
  /*border:2px solid #EC3;*/
}
#form2 input[type=checkbox] {
	transform: scale(2);
	margin: 0 6px 0 0;
}

#form3 {
  display: flex;
  /*width:calc(100% - 8px);*/
  /*align-items: stretch;*/
  align-items: center;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  gap:10px 20px;
  box-sizing: border-box;
}
#form3 label {
  background:#eecc33;
}


#confirm_area {
  display: flex;
  align-items: start;
  gap: 0 10px;
}
#confirm_area .result_log {
  flex: 1;
  border: 2px solid #FF0000;
}
#confirm_area table {
  border-collapse: separate;
  border-spacing:0;
  border-left:1px solid #888888;
  border-top:1px solid #888888;
  font-size:1.2rem;
  width: 100%;

}
#confirm_area th {
  /* 縦スクロール時に固定する */
  position: -webkit-sticky;
  position: sticky;
  top: 73px;
  /* tbody内のセルより手前に表示する */
  z-index: 1;
  white-space: nowrap;
  background:#ee9955;
  border-right:1px solid #888888;
  padding:5px 5px;
  width: 12em;
}
#confirm_area td{
  padding:0.75rem;
  border-right:1px solid #888888;
  border-bottom:1px solid #888888;

}
#confirm_area .btn_result  {
  padding:0.75rem;
  border:1px solid #578a3d;

}
#confirm_area .b1  {
  border:1px solid #FF0000;
  color: #FF0000;
}

#confirm_area .btn_button  {
  border:1px solid #578a3d;
  background: #FFF;
  color: #578a3d;

}

#posi_1 {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  background: rgba(218, 180, 58, 0.8);

}
#posi_1::after {
  /*height:0で非表示*/
  content: '';
  position: absolute;
  width: 100%;
  height: 0px;
  top: -60px;
  /*bottom: 0;*/
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  background: #EDD;

}
.posi_class2 {
  bottom: 222px;
  position: sticky;
  z-index: 700;
}
#posi_3 {
  position: fixed;
  /*position: sticky;*/
  bottom: 0;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 500;
  opacity: 0;
  visibility: hidden;

}


#form_cnt {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:0 20px;
  font-size:1.6rem;
}
#form_cnt .datezone {
  display: flex;
  align-items: center;
  gap:0 10px;
}




#tbl_com  {
  margin-top: 20px;
}
#tbl_com th {
  font-size: 1.4rem;
  color: #9cbb1c;
}
#tbl_com td {
  font-size: 1.4rem;
  padding: 0 8px;
}
#tbl_com h4 {
  color: #555555;
  border-bottom: 2px solid #9cbb1c;
}


#calendar {
  display: flex;
  position: relative;
  
}
#calendar .f {
  position: relative;
}
#calendar .btn_shade {
  visibility: hidden;
  opacity: 0;
}
#calendar .wbtn_shade_unused {
  position: absolute;
  bottom: 0;
  background: #FFF;
  height: 96px;
  width: 100%;
  opacity: 1;
  z-index: 10;
}

#calendar .ymstyle  {
  padding:0 5px;
  margin:0 5px 2px 5px;
  white-space: nowrap;
  color: #FFF;
}
#calendar .cpuzone  {
  position: absolute;
  left: 0;
  bottom: 16px;
  background:rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  line-height: 1.6rem;
}
#calendar .calbtn {
  width: auto;
  padding: 0px 4px;
  font-size: 1.2rem;
  color:#333;
  background:#eecc33;
}



#calendar_dayzone  {
  display: flex;
  
  box-sizing: border-box;
  border:#AAA solid;
  border-width: 0px 0 0 0px;
}
#calendar_dayzone .day_cnt {
  /*flex-grow: 1;*/
  min-width:2.2rem;
  border:#AAA solid;
  border-width: 1px 1px 1px 1px;
  padding:4px;
  text-align: center;
  margin-left:-1px;

}
#calendar_dayzone .day_cnt_all {
  /*flex-grow: 1;*/
  min-width:2.2rem;
  border:#AAA solid;
  border-width: 0px 1px 0px 1px;
  padding: 0;
  text-align: center;
  margin-left:-1px;

}
#calendar_dayzone .datestyle {
  box-sizing: border-box;
  margin-top: 5px;
  height:2.4rem;
  /*line-height: 34px;*/
  display: flex;
  align-items: center;
  justify-content: center;

}
#calendar_dayzone .datebox {
  border:#578a3d solid;
  border-width: 1px 1px 1px 1px;

}
#calendar_dayzone .today {
  position: relative;
  font-weight: bold;
}
#calendar_dayzone .today::after {
  content: "";
  display:block;
  /*position:  relative;*/
  position: absolute;
  width:  22px;
  height:  616px;
  background-color: #f4c836;
  /*border-radius:  50%;*/
  line-height: 3px;
  text-align: center;
  left:0px;
  top: 60px;
  z-index: 1;
/*
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
*/
}
#calendar_dayzone .todayback {
  background-color: #eeddbb;
}
#calendar_dayzone .todaydate {
  background-color: #ffdd33;
}

#calendar_dayzone .receive {
  position: relative;
  background:#0BE;
}
#calendar_dayzone .platemake  {
  position: relative;
  background:#E0B;
}
#calendar_dayzone .str1  {
  position: absolute;
  top: 12px;
  left: -3px;
  width: auto;
  height: 16px;
  line-height: 18px;
  color: #FFF;
  font-weight:bold;
  background:rgb(18, 158, 88);
  border-left:3px solid #FFF;
  border-radius:  3px;
  text-align: left;
  padding-left: 2px;


  white-space: nowrap;
}
#calendar_dayzone a {
  text-decoration: none;
  background: #eee;
  display: block;
  width:100%;
}

#calendar_dayzone .block1  {
  display: inline-block;
  width: 100%;
  margin: 24px 0 4px 0;
}
#calendar_dayzone .color1 {
  background: orange;

}





#cal_cnt  {
  display: flex;
  gap:30px 20px;
}
#cal_cnt td {
  text-align: center;
  padding: 0 2px;
}
#cal_cnt .days {
  position: relative;
  z-index: 3;
}
#cal_cnt .today {
  position: relative;
  /*font-weight: bold;*/
}
#cal_cnt .today::after {
  content: "";
  display:block;
  /*position:  relative;*/
  position: absolute;
  width:  22px;
  height:  2px;
  background-color: #f4c836;
  /*border-radius:  50%;*/
  line-height: 3px;
  text-align: center;
  left:0px;
  top: 2rem;
  z-index: 2;
/*
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
*/
}
#cal_cnt .viewday1 {
  position: relative;
  /*font-weight: bold;*/
}
#cal_cnt .viewday1::after {
  content: "";
  display:block;
  /*position:  relative;*/
  position: absolute;
  width:  22px;
  height:  22px;
  /*background-color: #eecc33;*/
  border:1px solid #aa00aa;
  border-radius:  50%;
  line-height: 22px;
  text-align: center;
  left:0px;
  top: 0px;
  z-index: 1;
/*
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
*/
}




#workin {box-sizing: border-box; margin-top:10px;}
#workin .line {
  position: relative;
  min-height:88px;
  z-index: 2;
  /*overflow:hidden;*/
  border-top:1px solid transparent;
}
#workin .he2 {
  /*41×5(枠)＋6*/
  min-height: 211px;
}
#workin .he3 {
  /*41×1(枠)＋6*/
  min-height: 58px;
}
#workin .workitem {
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
#workin a {
  color:#225533;
  text-decoration: none;
}

#workin .worktext {
  position:  absolute;
  left:-7px;
  top: 23px;
  z-index: 3;
  /*display:inline-block;*/
  /*overflow: auto;*/
  width:  auto;
  height:  16px;
  color:#000;
  background-color: #f4c836;
  border-left:3px solid #FFF;
  border-radius:  3px;
  line-height: 18px;
  text-align: left;
  padding-left: 2px;
  white-space: nowrap;
}
#workin .wt2 {
  overflow: hidden;
  min-width: 112px;
  height:  54px;
  left:-5px;
  background-color: #ffffff;
  border-left:4px solid #0f7bd4;
  padding-left: 2px;
  padding-right: 4px;
  white-space: normal;
}
#workin .worktextxxx::after {
  content: "";
  display:inline-block;
  width:  16px;
  height:  16px;
  background-color: #f4c836;
  /*border-radius:  50%;*/
  line-height: 18px;
  text-align: center;
  position:  relative;
  left:0px;
  top: 3px;
}



#workin .d1c1 {
  background:#960;
}
#workin .d2c1 {
  background:#C90;
}
#workin .d3c1 {
  background:#09C;
}
#workin .d4c1 {
  background:#93C;
}
#workin .d5c1 {
  background:#060;
}
#workin .d6c1 {
  background:#990;
}
#workin .d7c1 {
  background:#933;
}
#workin .d8c1 {
  background:#36C;
}
#workin .d9c1 {
  background:#C06;
}
#workin .d10c1 {
  background:#399;
}
#workin .d13c1 {
  background:#C36;
}
#workin .d29c1 {
  background:#0f7bd4;
}
      

#workin input[type="checkbox"]:checked + label {
  background: #578a3d;/* マウス選択時の背景色を指定する */
  color: #ffffff; /* マウス選択時のフォント色を指定する */
}

#workin .wclabel:hover {
  background-color: #9cbb1c; /* マウスオーバー時の背景色を指定する */
}
#workin .wclabel {
  margin-top: 5px;
  display: block; /* ブロックレベル要素化する */
  /*float: left; /* 要素の左寄せ・回り込を指定する */
  width: 18px; /* ボックスの横幅を指定する */
  height: 18px; /* ボックスの高さを指定する */
  /*padding-left: 2px;*/ /* ボックス内左側の余白を指定する */
  /*padding-right: 2px;*/ /* ボックス内御右側の余白を指定する */
  color: #b20000; /* フォントの色を指定 */
  text-align: center; /* テキストのセンタリングを指定する */
  /*line-height: 45px;*/ /* 行の高さを指定する */
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
  border: 2px solid #e0b36f;/* ボックスの境界線を実線で指定する */
  border-radius: 5px; /* 角丸を指定する */
}
#workin .bg1  {
  background: rgba(255, 255, 255, 0.8);
} 

input[type=radio] {
  display: none; /* ラジオボタンを非表示にする */
}
input[type="radio"]:checked + label {
  background: #9cbb1c;/* マウス選択時の背景色を指定する */
  color: #ffffff; /* マウス選択時のフォント色を指定する */
}
.label:hover {
  background-color: #dae0c3; /* マウスオーバー時の背景色を指定する */
}
.label {
  /*display: inline-block; /* ブロックレベル要素化する */
  /*float: left; /* 要素の左寄せ・回り込を指定する */
  margin: 5px; /* ボックス外側の余白を指定する */
  width: 100px; /* ボックスの横幅を指定する */
  height: 45px; /* ボックスの高さを指定する */
  padding-left: 5px; /* ボックス内左側の余白を指定する */
  padding-right: 5px; /* ボックス内御右側の余白を指定する */
  color: #333; /* フォントの色を指定 */
  text-align: center; /* テキストのセンタリングを指定する */
  line-height: 45px; /* 行の高さを指定する */
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
  border: 2px solid #578a3d;/* ボックスの境界線を実線で指定する */
  border-radius: 5px; /* 角丸を指定する */
  white-space: nowrap;
  background: #FFF;

}

#workname input[type="radio"]:checked + label {
  background: #487ae7;/* マウス選択時の背景色を指定する */
  color: #ffffff; /* マウス選択時のフォント色を指定する */
}
#workname .label:hover {
  background-color: #b2c3e7; /* マウスオーバー時の背景色を指定する */
}
#workname .label {
  /*display: block; /* ブロックレベル要素化する */
  /*float: left; /* 要素の左寄せ・回り込を指定する */
  margin: 5px; /* ボックス外側の余白を指定する */
  width: 100px; /* ボックスの横幅を指定する */
  height: 45px; /* ボックスの高さを指定する */
  padding-left: 5px; /* ボックス内左側の余白を指定する */
  padding-right: 5px; /* ボックス内御右側の余白を指定する */
  color: #333; /* フォントの色を指定 */
  text-align: center; /* テキストのセンタリングを指定する */
  line-height: 45px; /* 行の高さを指定する */
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
  border: 2px solid #3d558a;/* ボックスの境界線を実線で指定する */
  border-radius: 5px; /* 角丸を指定する */
  background: #FFF;
}

#workname input[type="radio"]:checked + label.del {
  background: #e74848;
  color: #ffffff;
}
#workname .del {
  border: 2px solid #bb2222;
}
#workname .del:hover {
  background-color: #e7b2b2;
}
#workname .comp {
  border: 2px solid #2288bb;
}
#workname .comp:hover {
  background-color: #88bbdd;
}

#hanrei1  {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 30px;
}
#hanrei1 .hitem  {
  display: inline-block;
  width: 20px;
  height: 16px;
  vertical-align: middle;
}

#resultbtn  {
  display: flex;
  flex-wrap: wrap;

}













#cnt1 {
  display:flex;
  width:100%;
  flex-wrap:wrap;

}
#cnt1 .inputgroup {
  margin-top:20px;
  margin-left:0.5em;
  margin-right:0.5em;

}
#cnt1 .cate {
  padding:0 6px;

}
#cnt1 .form_style {
  font-size:2rem;
  height:3rem;
  /*width:calc(100% - 8px);*/
  padding:0 4px;
  width:100%;
  box-sizing: border-box;
}
#cnt1 .form_style_t {
  font-size:2rem;
  /*height:6rem;*/
  /*width:calc(100% - 8px);*/
  padding:0 4px;
  width:100%;
  box-sizing: border-box;
}
#cnt1 .inputzone span{
  margin-left:0.5em;
  margin-right:0.5em;
}

#button1 {
  display:flex;
  width:100%;
  justify-content: space-between;
  flex-wrap:wrap;

}
#button1 .btnstyle {
  margin-top:20px;
}
#button1 button  {
  width:20em;
  font-size:1.6rem;
  white-space: normal;
}
#button1 button span{
  display:inline-block;
}


#cnt1 .w1{
  flex:0 0 8em;
  max-width:8em;
}
#cnt1 .w2{
  flex:0 0 17em;
  max-width:17em;
}
#cnt1 .w3{
  flex:0 0 26em;
  max-width:26em;
}
#cnt1 .w4{
  /*flex:1 0 auto;*/
  flex:0 0 35em;
  max-width:35em;
}


#tbl_1 .color3 {
  color:#CCC;
}
#tbl_1 .color4 {
  color:red;
}
#tbl_1 .bgcolor3 {
  background:#FDC;
}
#tbl_1 .bgcolor4 {
  background:#CDF;
}
#tbl_1 .bgcolor5 {
  background:linear-gradient(to bottom, #FFF 0%, #FFF 90%, lightblue 90%,  lightblue 100%);
}
#tbl_1 .bgcolor6 {
  background:#FFC;
}

#cnt2 {
  margin-top:50px;
}





/*--------------------##  /  ##--------------------*/


.display_none {display: none;}
.display_block {display: block;}


.print_view {display:none;}


/*--------------------##  button  ##--------------------*/

button.style1  {
  border:1px solid #888;
  border-radius: 4px;
  background:#8C8;
}
button.style1:hover  {
  color:#FFF;
  background:#C88;
}
button.style2  {
  border:1px solid #888;
  border-radius: 4px;
  background:#8CC;
}
button.style2:hover  {
  color:#FFF;
  background:#C88;
}
button.style3  {
  color:#FFF;
  background:#bbaa88;
}
button.style3:hover  {
  background:#DDCCAA;
}
button.style4  {
  background:#FFF;
  color: #888;
}
button.style5  {
  background:#FFF;
  color: green;
}
.w_auto {
  width: auto;
}

/*--印刷ボタン--*/
#btn_cnt4 {
  display:-webkit-flex;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  width:100%;
  padding:10px 15px 5px 15px;
  background:#FFF;
}
#btn_cnt4 .btn_col_1  {
  flex: 0 0 300px;
  padding:0 20px;
}
#btn_cnt4 .btn_sty_1 a  {
  flex:0 0 200px;
}
#btn_cnt4 .btn_sty_1 a:hover  {
  color:#FFF;
}


#btn_cnt1 .btncolor1:hover  {
	background: rgba(128, 187, 96, 0.7);
}
#btn_cnt1 .btncolor2:hover  {
  background:rgba(221, 96, 96, 0.7);
}
#btn_cnt1 .btncolor3:hover  {
	background: rgba(108, 178, 235, 0.7);
}

/*--------------------##  その他/  ##--------------------*/
.transition1  {
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
}
.transition2  {
  transition: all 0.5s 0s ease-in-out;
}
html { scroll-behavior: smooth;}


/*------#### 959px 以下のとき ####------*/
@media screen and (max-width: 959px) {
  body  {
    font-size:1.4rem;
    margin:0;
    min-width:640px;
  }
  .menu_btn {display:block;}
  #cnt_menu  .offcanvas_left {
    position: fixed;
    top: 40px;
    bottom: 0;
    right: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    /*background-color: #343a40;*/
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: right, visibility;
  }
  #cnt_menu  .offcanvas_left.open {
    right: 0;
    visibility: visible;
  }
  #cnt_menu  .side-base {
    background: #c6c91d;
  }
  #menu_li  {
    padding-left:20px;
  }
  #menu_li ul  {
    display:block;
    border-left: 1px solid #333;
  }
  #menu_li ul li {
      width: 100%;
      text-align: left;
      padding: 10px;
      border-right: none;
      border-bottom: 1px dashed #578a3d;
  }
  #menu_li ul li a  {
    align-items: center;
    justify-content: start;
  }
  
  #tbl_1 thead th{
    top: 38px;
  }

  .transition3  {
    transition: all 1.15s 0s ease-in-out;
    transition-property: right, visibility;
  }
  



}

/*------#### print out ####------*/
@media print {
  .print_view {display:block;}
  .print-none {display:none;}


  select {
    -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    -moz-appearance: none; /* ベンダープレフィックス(Firefox用) */
    appearance: none; /* 標準のスタイルを無効にする */
    }

}

