div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,button,input,textarea,fieldset,p,span,blockquote,th,td,figure,hr {
   margin:0;
   padding:0;
}
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
  height: auto;
}
textarea{
  /*下部の余白消し*/
  display:block;
}
/*--material
  overflow:auto;
*/
body  {
  font-size:1.4rem;
  margin:0;
  min-width:1280px;
}
.wrapper {
  width: 1920px;
  max-width:100%;
  margin: 0 auto;
  min-height: 100vh;
}
.nbr{
  white-space: nowrap;
}
:focus {
  outline: none;
}

a {
  color:#3355AA;
  text-decoration: underline #55b2ff;
  text-underline-offset: 0.2em;
}
a:hover {
  text-decoration: underline red;
}
button  {
  white-space:nowrap;
  border-radius: 5px;
  padding:2px 6px;
  color:#FFF;
  background:#bbaa88;
  width:10em;
}
button:hover  {
  background:#DDCCAA;
}

.gc1  {  background:#9cbb1c;}
.bc1  {  border:2px solid #dddd88;}
.bcc1 {  border-color:#dddd88;}
.gc2  {  background:#eee9e6;}
.bc2  {  border:2px solid #ccbb55;}
.bcc2 {  border-color:#ccbb55;}
.gc3  {  background:#eee7e0;}
.bc3  {  border:2px solid #ddaa88;}
.gc4  {  background:#ede4e1;}
.gc4b  {  background:linear-gradient(to bottom, #FFF 0%, #FFF 80%, #eecc55 80%,  #eecc55 100%);}
.bc4  {  border:2px solid #eecc55;}
.bcc4 {  border-color:#eecc55;}
.stock_active {  background:linear-gradient(to bottom, #ffeecc 0%, #ffeecc 80%, #eecc55 80%,  #eecc55 100%);}
.bold { font-weight: bold;}


/*--------------------## ヘッダー ##--------------------*/
#logo {
  width:200px;
}
#logo a {
  color:#FFF;
  display:flex;
  align-items: center;
}
#logo .logo_h {
  height:20px;
  margin-right:10px;
}

header  {
  /*position:fixed;*/
  position: -webkit-sticky; /* safari対応 */
  position: sticky;
  top: 0px; /* 上端から0pxのところで固定 */
  width:100%;
  background-color:#578a3d;
  z-index: 1;
}
header .navbar  {
  display:flex;
  align-items: center;
  padding-left:10px;
  height:40px;
}
header button {width:auto;}

.sticky {
  position: -webkit-sticky; /* safari対応 */
  position: sticky;
  top: 0px; /* 上端からのところで固定 */
}

/*--------------------## フッター ##--------------------*/
#footer {
  padding:15px 0 10px 0;
}
#footer .foot_cnt {
  text-align:center;
}

/*--------------------## メニュー ##--------------------*/
.menu_btn {
  display:none;
}
.menu_btn_style {
  /*background:#ccbb55;*/
  display:block;
  padding:3px 0 0 0;
}
#cnt_menu {
  position: relative;
  font-size:1.6rem;
}
.side-base {
  background: #c6c91d;

}
#menu_li  {
  width:100%;

}
#menu_li ul  {
  display:flex;
  list-style: none;
  /*border-top: 1px solid #333;*/
  border-left: 1px solid #333;

}
#menu_li ul li {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 2px;
    /*border-bottom: 1px solid #333;*/
    border-right: 1px solid #333;
}
#menu_li ul li a  {
	display:flex;
  align-items: center;
  justify-content: center;
  height:30px;
}


/*--------------------## コンテンツ共通 ##--------------------*/
#maincontents {
  padding:8px;
}
.gotop{
  position: fixed;
  box-sizing: border-box;
  bottom: 10px;
  right: 20px;
  z-index: 10000;
}
.gotop a  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #CCC;
  opacity: 0.5;

}
.gotop a:hover  {
  opacity: 0.8;
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: -50px;
  background: #eecc33;
  opacity: 0.7;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-weight: 900;
  content: '↑';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top:hover{opacity: 0.9;}

.mgt10  {margin-top:10px;}
.mgt20  {margin-top:20px;}
.mgt40  {margin-top:40px;}


/*--------------------## TOP page ##--------------------*/
#tips_cnt .lst1  {
  list-style-type: circle;
  margin-left:50px;
  color: #668ad8;
}
#tips_cnt .lst1 li  {
  margin-top:8px;
}
#tips_cnt .lst2  {
  counter-reset:number;
  list-style-type: none;
  margin-left:50px;
  color: #333;
}
#tips_cnt .lst2 li {
  position:relative;
  margin-top:2px;
}
#tips_cnt .lst2 li:before {
  counter-increment: number;
  content: counter(number) "";
  display:inline-block;
  width:  16px;
  height:  16px;
  background-color: #f4c836;
  border-radius:  50%;
  line-height: 18px;
  text-align: center;
  position:  absolute;
  left:-20px;
  top: 2px;
/*
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
*/
}


/*--------------------## 預かり在庫 / 一覧 ##--------------------*/
#top_cnt  {
  display:flex;
  width:100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom:5px;
}
#top_cnt .customize  {
  white-space:nowrap;
  border-radius: 5px;
  border:none;
  padding:2px 6px;
  color:#FFF;
  background:#FFF;
  width:auto;
}
#form1  {
  display:flex;
  align-items: center;
  /*justify-content: space-between;*/

}
#form1 .form_style {
  font-size:2rem;
  height:3rem;
  /*width:calc(100% - 8px);*/
  padding:0 4px;
  width:50%;
  box-sizing: border-box;
  margin-right:10px;
}

#btn_cnt1 {
  display:flex;
  align-items: center;
}
#btn_cnt1 .form_style {
  font-size:2rem;
  height:3rem;
  /*width:calc(100% - 8px);*/
  padding:0 4px;
  /*width:50%;*/
  box-sizing: border-box;
  /*margin-right:10px;*/
}
#btn_cnt1 .btn1  {
  white-space:nowrap;
  border-radius: 5px;
  padding:2px 6px;
  color:#FFF;
  background:#bbaa88;
  width:10em;
  margin-left:10px;

}


#tbl_1 {
  position: relative;
  width:100%;
  z-index:0;
  /*box-sizing: border-box;*/
}
#tbl_1 table{
  width:100%;
  border-collapse: collapse;
  margin-bottom:0px;
  border-spacing:0;
  border-left:1px solid #888888;
  border-top:1px solid #888888;
}
#tbl_1 thead th{
  /* 縦スクロール時に固定する */
  position: -webkit-sticky;
  position: sticky;
  top: 73px;
  /* tbody内のセルより手前に表示する */
  z-index: 1;
  white-space: nowrap;
  /*background:#ccbb55;*/
  border-right:1px solid #888888;
  padding:5px 5px;
}
#tbl_1 td{
  padding:0.75rem;
  border-right:1px solid #888888;
  border-bottom:1px solid #888888;
}
#tbl_1 .style1 {
  text-align:right;
}
#tbl_1 .w1 {
  width:5em;
}
#tbl_1  button  {
  white-space:nowrap;
  border-radius: 5px;
  padding:2px 6px;
  color:#FFF;
  background:#bbaa88;
  width:auto;
}
#tbl_1  button:hover  {
  background:#DDCCAA;
}
#tbl_1 button.style1  {
  border:1px solid #888;
  border-radius: 4px;
  background:#8C8;
}
#tbl_1 button.style1:hover  {
  color:#FFF;
  background:#C88;
}
#tbl_1 .mg_r  {
  margin-right:10px;
}


#tbl_1 .form_style {
  font-size:2rem;
  height:3rem;
  /*width:calc(100% - 8px);*/
  padding:0 4px;
  width:5em;
  box-sizing: border-box;
}
#tbl_1 .color1 {
  color:#33aa55;
}
#tbl_1 .color2 {
  color:#cc3333;
}
#tbl_1 .posi_r1 {
  position:relative;
}
#tbl_1 .posi_a1 {
  position:absolute;
  top:-120px; left:0px;
}

/*--------------------## 預かり在庫 / 編集追加登録 ##--------------------*/
#cnt1 {
  display:flex;
  width:100%;
  flex-wrap:wrap;

}
#cnt1 .inputgroup {
  margin-top:20px;
  margin-left:0.5em;
  margin-right:0.5em;

}
#cnt1 .cate {
  padding:0 6px;

}
#cnt1 .form_style {
  font-size:2rem;
  height:3rem;
  /*width:calc(100% - 8px);*/
  padding:0 4px;
  width:100%;
  box-sizing: border-box;
}
#cnt1 .form_style_t {
  font-size:2rem;
  /*height:6rem;*/
  /*width:calc(100% - 8px);*/
  padding:0 4px;
  width:100%;
  box-sizing: border-box;
}
#cnt1 .inputzone span{
  margin-left:0.5em;
  margin-right:0.5em;
}

#button1 {
  display:flex;
  width:100%;
  justify-content: space-between;
  flex-wrap:wrap;

}
#button1 .btnstyle {
  margin-top:20px;
}
#button1 button  {
  width:20em;
  font-size:1.6rem;
  white-space: normal;
}
#button1 button span{
  display:inline-block;
}
button.style1  {
  border:1px solid #888;
  border-radius: 4px;
  background:#8C8;
}
button.style1:hover  {
  color:#FFF;
  background:#C88;
}
button.style2  {
  border:1px solid #888;
  border-radius: 4px;
  background:#8CC;
}
button.style2:hover  {
  color:#FFF;
  background:#C88;
}


#cnt1 .w1{
  flex:0 0 8em;
  max-width:8em;
}
#cnt1 .w2{
  flex:0 0 17em;
  max-width:17em;
}
#cnt1 .w3{
  flex:0 0 26em;
  max-width:26em;
}
#cnt1 .w4{
  /*flex:1 0 auto;*/
  flex:0 0 35em;
  max-width:35em;
}


#tbl_1 .color3 {
  color:#CCC;
}
#tbl_1 .color4 {
  color:red;
}
#tbl_1 .bgcolor3 {
  background:#FDC;
}
#tbl_1 .bgcolor4 {
  background:#CDF;
}
#tbl_1 .bgcolor5 {
  background:linear-gradient(to bottom, #FFF 0%, #FFF 90%, lightblue 90%,  lightblue 100%);
}
#tbl_1 .bgcolor6 {
  background:#FFC;
}

#cnt2 {
  margin-top:50px;
}


/*--------------------## 棚卸 /  ##--------------------*/
#cnt3 {
  display:flex;
  /*width:100%;*/
  align-items: center;
  flex-wrap:wrap;
}
#cnt3 .mg1 {
  margin-left:20px;
}

#form3  {
  display:flex;
  align-items: center;
  /*justify-content: space-between;*/

}
#form3 .form_style {
  font-size:2rem;
  height:3rem;
  /*width:calc(100% - 8px);*/
  padding:0 4px;
  width:auto;
  box-sizing: border-box;
  margin-right:10px;
}



/*--------------------## ゴミ箱 /  ##--------------------*/
#subtitle {
  display:block;
}
#subtitle h4 {
  border-left-style:solid;
  border-left-width:10px;
  padding:0 0 2px 6px;
}
#subtitle .margin {
  margin-top:50px;
}
#subtitle .bc1::before {
  content: "";
  display:inline-block;
  width:  16px;
  height:  16px;
  background-color: #f4c836;
  /*border-radius:  50%;*/
  line-height: 18px;
  text-align: center;
  position:  relative;
  left:0px;
  top: 3px;
/*
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
*/
}





.print_view {display:none;}

/*--印刷ボタン--*/
#btn_cnt4 {
  display:-webkit-flex;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  width:100%;
  padding:10px 15px 5px 15px;
  background:#FFF;
}
#btn_cnt4 .btn_col_1  {
  flex: 0 0 300px;
  padding:0 20px;
}
#btn_cnt4 .btn_sty_1 a  {
  flex:0 0 200px;
}
#btn_cnt4 .btn_sty_1 a:hover  {
  color:#FFF;
}


#btn_cnt1 .btncolor1:hover  {
	background: rgba(128, 187, 96, 0.7);
}
#btn_cnt1 .btncolor2:hover  {
  background:rgba(221, 96, 96, 0.7);
}
#btn_cnt1 .btncolor3:hover  {
	background: rgba(108, 178, 235, 0.7);
}

.transition1  {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.transition2  {
  transition: all 0.5s 0s ease-in-out;
}
html { scroll-behavior: smooth;}


/*------#### 1200px以下のとき ####------*/
@media screen and (max-width: 1200px) {
  .menu_btn {display:block;}
  #cnt_menu  .offcanvas_left {
    position: fixed;
    top: 40px;
    bottom: 0;
    right: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    /*background-color: #343a40;*/
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: right, visibility;
  }
  #cnt_menu  .offcanvas_left.open {
    right: 0;
    visibility: visible;
  }
  #cnt_menu  .side-base {
    background: #c6c91d;
  }
  #menu_li  {
    padding-left:20px;
  }
  #menu_li ul  {
    display:block;
    border-left: 1px solid #333;
  }
  #menu_li ul li {
      width: 100%;
      text-align: left;
      padding: 10px;
      border-right: none;
  }
  #menu_li ul li a  {
    align-items: center;
    justify-content: start;
  }
  
  #tbl_1 thead th{
    top: 38px;
  }

  .transition1  {
    transition: all 1.15s 0s ease-in-out;
    transition-property: right, visibility;
  }
  



}

/*------#### print out ####------*/
@media print {
  .print_view {display:block;}
  .print-none {display:none;}


  select {
    -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    -moz-appearance: none; /* ベンダープレフィックス(Firefox用) */
    appearance: none; /* 標準のスタイルを無効にする */
    }

}

